/*.logo-1 {
    border: 1px dashed black;
    border-radius: 50%;
    width:10%;
}
body {
    background-repeat: repeat;
}

.byline-img {
    border: 1px dashed black;
    border-radius: 50%;
    width: 10%;
    padding: 5px;
}
.header-img {
    width:100%;
}*/
